/*padões*/

h1{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

    text-align: center;
    
}

h3{
    font-family: 'Oswald', sans-serif;

}

a{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    
}
footer span{
    font-family: 'Oswald', sans-serif;

    text-align: center;
    text-indent: 30px;
    word-spacing: 3px; 
    font-size: 16px;

    opacity: 0.6;

    
}
footer span img{
    width: 16px;
}
p{
    font-family: 'Oswald', sans-serif;

    text-align: left;
    text-indent: 30px;
    word-spacing: 3px; 
    font-size: 16px;
    
}

body{
    border-width: 1px;
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    width: 940px;

    font-family: 'Oswald', sans-serif;

    
}

.menu ul li{
    display: inline;
    margin-left: 5px;
    margin-right: 15px;
    
}
.menu ul li a{
    text-decoration: none;
}


.menu ul li a:hover{
    font-weight: bold;
}

.menu {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
header{
    border-bottom: 4px #ffee00e3 solid;
    
    height: 100px;
    position: relative;
}


figcaption{
    font-style: italic;
    
}

footer{
    height: 70px;

    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    
}
footer h1{
    margin-top: 100px;
    
    color: rgb(255, 0, 0);
    height: 34px;
}

/*ids and class*/
.login{
    display: flex;

    float: right;
    margin: 5px 15px;

    box-shadow: 1px 1px 1px 1px rgba(255, 230, 1, 0.568);

    border-radius: 6px;

}

.login a{
    margin: 5px 15px;

    text-decoration: none;

}
.login a:hover{
    font-weight: bold;

}


/*Sobre*/

#onibus{
    
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    background-color: #ffffff;

    padding: 32px;

    margin-bottom: 32px;
}
#onibus img{
    width: 480px;
    margin-left: 150px;
    margin-right: auto;   
    vertical-align: center; 

}
#onibus figcaption{
    text-align: center;
}

.equipe{
    display: flex;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    background-color: #ffffff;

    padding: 32px;

    margin-bottom: 32px;
}
.equipe img{
    border-radius: 100%;
    width: 100px;
    
}
#logo{
    float: left;
}
.conteiner{ 
    width: 100%;
    max-width: 940px;

    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 34px;
}

.news{
    display: flex;

    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    border-bottom: 3px  rgba(255, 0, 0, 1) solid;
    background-color: white;
    
    padding: 32px;

    margin-bottom: 32px;
}


.news img{
    margin-right: 32px;
}

.news h3{
    margin: 0;
}

.news .description{
    margin: 16px 0;
}


section#title{
    text-align: center;

}

section#title h1{

    font-size: 28px;
}

section#new {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

section#bloc{
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}
.equipe figcaption{
    text-align: center;
    margin: 16px 54px;
}

.equipe img{
    width: 60px;
    height: 60px;
    
    margin-left: 130px;
}

.social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 36px;
    width: 157px;
    padding: 5px 392px;

}

#sociais, .social{
    width: 36px;
    height: 36px;
    
}

#sociais, .social img{
    padding: 0 24px;
    margin-top: 1px;
    

    width: 30px;
    height: 30px;
}

/*agenda*/



.content table{
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
}
      
.content table {
    border: 1px solid red;
    margin: auto;
    text-align: center;
}

.content table {
    margin-top: 20px;
    
}

.content table tr th{
    padding: 20px;
}
.content table tr td{
    padding: 20px;
}
.content{
    
    grid-area: content;

    margin: 50px auto;

}

.contato a img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;


    background-color: yellow;

}
.contato a{
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#modal{
    background: white;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
    width: 60%;
    color: black;
}

#modal .content h1{
    text-align: center;

    text-transform: uppercase;
}


#modal form{
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;

}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}

form input, form textarea{
    width: 100%;

    padding: 12px;

    box-sizing: border-box;
    
    border-radius: 6px;
    border: 1px solid rgba(252, 0, 0, 0.5);

    outline: none;

    font-size: 16px;

}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8;
}

form a{
    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;



    transition: 400ms;

}

form a:hover{
    background: yellow;
    color: black;

    text-decoration: none;
}

form button{
    background: white;

    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;

    margin-top: 32px;

    grid-template-columns: 1fr 1fr;

    gap: 5px;

    transition: 400ms;
    grid-column: 2;
    justify-self: end;
}
form button:hover{
    background-color: red;
    color: white;

    text-decoration: none;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

#buttons{
    display: flex;

    float: right;
    justify-content: space-evenly;
    
    margin-top: 5px;

    padding: 6px;


}